
@{
    ViewBag.Title = "BloodborneNews";
}

<div class="container">
    <div class="col-xs-12">
        <img class="img-responsive img-rounded" src="@Url.Content("~/Images/General/bloodbornenews.jpg")" alt="Bloodborne2cool">
    </div>
</div>

<div class="container col-xs-12 well well-lg">
    <section>
        <h1 class=" text-center text-primary">Bloodborne - Too cool for you!</h1>
        <p>
            UPDATE 23/04/2015 9.45am: Eurogamer has learned from someone close to the project that the mystery door did in fact open in a pre-release build of the game.
            Apparently there were no performance hiccups going from one area to another either. That means it was cut either for lore reasons, as a way to troll players, or to prevent people from being really underwhelmed by what would ultimately have been a fairly useless shortcut.
            <br>
            <br>
            ORIGINAL STORY 22/04/2015 8.41pm: Someone has discovered what's on the other side of that indefinitely closed door at the bottom of the Cathedral Ward in Bloodborne.
            Interacting with said door brings up a prompt that says "closed". Not "locked". Not "does not open from this side". Just "closed". Many assumed this required a key that nobody had found yet, or that it would reveal a new area as DLC.
            Others assumed that it linked back to the end of the Great Bridge, where you fight the Cleric Beast.
            As it turns out, this last theory is correct. YouTuber illusory wall made the enlightening discovery that placing Shining Coins in a door would result in their grossly incandescent glow emanating out the other side.
            As such, they tried lodging a few Shining Coins in the mystery door, then observing what they thought would be the same door on the Great Bridge. Their assumption was correct, as you can see in the video below walking us through how to get to either end of the forever closed door.
        </p>
        <p class="text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/e6UN9kehuig" frameborder="0" allowfullscreen></iframe>
        </p>
        <p>
            So why does this faux shortcut exist if we can never open it? Why go to the trouble of adorning the door with a tantalising "closed" prompt rather than not letting us interact with it at all? The jury is still out on that one.
            It's possible that it's a shortcut that never came to fruition, but that explanation doesn't entirely gel with me, because how hard could it be to let players open a simple door?
            My money is on developer From Software trolling its fans.
            Game director Hidetaka Miyazaki pulled a similar trick in Dark Souls wherein players were asked to choose a gift at the game's opening. One item was a pendant described as having "no effect, but fond memories comfort travelers."
            Miyazaki told a Famitsu interviewer that he'd always pick the pendant or nothing, leading fans to speculate for a year what mysterious benefit the seamlessly useless pendant could actually have. As it turns out, it was completely useless after all and he only put it in there as a prank to drive players batty. One can't help but assume Bloodborne's door served a similar purpose, possibly as a play off player expectations of shortcuts in these games. Well played, Miayazaki-san. Well played
        </p>
    </section>
</div>

<div class="clearfix">
</div>

