@using ProjectAurora.Models

@{
    ViewBag.Title = "Dota2";
}

<div class="container">

    <div class=" container panel panel-primary col-xs-3" style="height: 350px;">
        <div class="panel-heading">
            <h3 class="panel-title">Game Overview</h3>
        </div>
        <div class="panel-body ">     
            Title: Dota 2<br>
            Developer: Valve Corporation<br>
            Publisher: Valve Corporation<br>
            Platform(s): PC<br>
            Release Date: July 9, 2013<br>
            Metacritic: 90/100<br>
            Genre: MOBA, RPG, Online Multiplayer<br>
        </div>
    </div>

    <div class=" container col-xs-6 well well-lg" style="height: 350px;">
        Dota is a competitive game of action and strategy, played both professionally and casually by millions of passionate fans worldwide.
        Players pick from a pool of over a hundred heroes, forming two teams of five players.

    </div>

    <div class="container col-xs-2">
        <a href="http://blog.dota2.com/?l=english"><img class="img-rounded" src="/Images/Catalog/dota2Click.jpg" alt="Dota 2"></a>
    </div>

</div>


<div class="container imageSetting">
    <div class="panel panel-default text-center" data-toggle="collapse" data-target="#demo">

        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Reviews <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>

        <div id="demo" class="collapse">

            <div class="col-xs-3 imageSetting">
                <a href="http://www.ign.com/games/dota-2/pc-83236" class="thumbnail">
                    <img class=" img-rounded" src="/Images/ReviewThumbs/ignReviewThumb255.png" alt="IGNReviewThumb">
                </a>
            </div>

            <div class="col-xs-3 imageSetting">
                <a href="http://www.pcgamer.com/dota-2-review-2/" class="thumbnail">
                    <img class=" img-rounded" src="/Images/ReviewThumbs/pcgamerReviewThumb255.png" alt="PcGamerReviewThumb">
                </a>
            </div>

            <div class="col-xs-3 imageSetting">
                <a href="http://www.gamespot.com/reviews/dota-2-review/1900-6411615/" class="thumbnail">
                    <img class=" img-rounded" src="/Images/ReviewThumbs/gamespotReviewThumb255.png" alt="GamespotReviewThumb">
                </a>
            </div>

            <div class="col-xs-3 imageSetting">
                <a href="http://www.eurogamer.net/articles/2013-07-16-dota-2-review" class="thumbnail">
                    <img class=" img-rounded" src="/Images/ReviewThumbs/eurogamerReviewThumb255.png" alt="EurogamerReviewThumb">
                </a>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>


</div>


<div class="container imageSetting">
    <div class="panel panel-default text-center" data-toggle="collapse" data-target="#demo2">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Trailers <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>

        <div id="demo2" class="collapse">

            <iframe width="552" height="315" src="https://www.youtube.com/embed/-cSFPIwMEq4" frameborder="0" allowfullscreen></iframe>
            <iframe width="552" height="315" src="https://www.youtube.com/embed/5MuZmHEGqXQ" frameborder="0" allowfullscreen></iframe>

        </div>
    </div>
</div>


<div class="container imageSetting">
    <div class="panel panel-default text-center" data-toggle="collapse" data-target="#demo3">
        <div class="panel-body text-center">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Screenshots <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </div>
        <div id="demo3" class="collapse">

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="~/Images/dota2screen1.jpg" class="thumbnail">
                        <img src="@Url.Content("~/Images/Screenshots/dota2screen1.jpg")" alt="Dota2Screenshot1">
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <a href="~/Images/dota2screen2.jpeg" class="thumbnail">
                        <img src="@Url.Content("~/Images/Screenshots/dota2screen2.jpeg")" alt="Dota2Screenshot2">
                    </a>
                </div>

                <div class="col-xs-6 col-md-3">
                    <a href="~/Images/dota2screen3.jpg" class="thumbnail">
                        <img src="@Url.Content("~/Images/Screenshots/dota2screen3.jpg")" alt="Dota2Screenshot3">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix">

</div>




