
@{
    ViewBag.Title = "NewsPageTemp";
}

<div class="col-sm-6 col-md-6">
    <div class="img-thumbnail">
        <a href="#">
            <img class="img-responsive .newsImage" src="/Images/General/gtavimg.jpg" alt="gtavThumb">
            <h2 class="text-center"><span>GTA Makes Money!</span></h2>
        </a>
    </div>
</div>

<div class="col-sm-6 col-md-6">
    <div class="img-thumbnail">
        <a href='@Url.Action("BloodborneNews", "Test")'>
            <img class="img-responsive" src="/Images/General/bloodbornenews.jpg" alt="bloodnews1Thumb">
            <h2 class="text-center"><span>Too cool for school</span></h2>
        </a>
    </div>
</div>

